<html>
  <body>

  <center>
    <h1> PREDICTION :</h1>

        {%if data==0%}
         <h1>'iris_sitosa'</h1>
         <img src="../static/setosa.jpg" height="259" width="194"/>

          { %elif data == 1% }

            <h1>'iris_versicolor'</h1>
            <img src="../static/versicolor.jpg" height="194" width="259"/>



           {%else%}
            <h1>'iris_verginica'</h1>
            <img src="../static/verginica.jpg" height="203" width="249"/>

            {%endif%}

           <br><br>

    <a href='/'>go back to the home page </a>


  </center>
  </body>
</html>